@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1 {
  font-family: roboto, sans-serif; }

h2 {
  font-family: roboto, sans-serif; }

h3 {
  font-family: nunito, verdana, sans-serif; }

h4 {
  font-family: roboto, sans-serif; }

h5 {
  font-family: roboto, sans-serif; }

h6 {
  font-family: roboto, sans-serif; }

.tituh1 {
  font-size: 2rem;
  font-weight: 700; }

.tituh2 {
  font-size: 1.5rem;
  font-weight: 500; }

.tituh3 {
  font-size: 1.17rem; }

.tituh4 {
  font-size: 1rem; }

.tituh5 {
  font-size: 0.83rem; }

.tituh6 {
  font-size: 0.67rem; }

img {
  display: block;
  /* con esto las imágenes son tratadas como un bloque*/
  margin: auto;
  /* este bloque se puede centrar bien*/
  max-width: 100%;
  /* tiene un máximo, antes que se pixele la imagen*/
  min-width: 50%;
  /* tiene un mínimo, antes que se pixele la imagen*/
  height: auto;
  /* la altura se coloca para que no deforme la imagen*/ }

.tituloPrincipal {
  text-align: center; }

.texto-centrado {
  text-align: center; }

.texto-izquierda {
  text-align: left; }

.texto-derecha {
  text-align: right; }

th {
  background-color: #aef3b4; }

tr:nth-child(even) {
  background-color: #f3efef; }

tr:nth-child(odd) {
  background-color: white; }

.grid {
  display: grid;
  gap: 30px; }

.col-1 {
  grid-template-columns: repeat(1, 1fr); }

.col-2 {
  grid-template-columns: repeat(2, 1fr); }

.col-3 {
  grid-template-columns: repeat(3, 1fr); }

.col-4 {
  grid-template-columns: repeat(4, 1fr); }

.col-5 {
  grid-template-columns: repeat(5, 1fr); }

.col-6 {
  grid-template-columns: repeat(6, 1fr); }

.col-7 {
  grid-template-columns: repeat(7, 1fr); }

.col-8 {
  grid-template-columns: repeat(8, 1fr); }

.col-9 {
  grid-template-columns: repeat(9, 1fr); }

.col-10 {
  grid-template-columns: repeat(10, 1fr); }

.col-11 {
  grid-template-columns: repeat(11, 1fr); }

.col-12 {
  grid-template-columns: repeat(12, 1fr); }

.row-1 {
  grid-template-rows: repeat(1, auto); }

.row-2 {
  grid-template-rows: repeat(2, auto); }

.row-3 {
  grid-template-rows: repeat(3, auto); }

.row-4 {
  grid-template-rows: repeat(4, auto); }

.row-5 {
  grid-template-rows: repeat(5, auto); }

.row-6 {
  grid-template-rows: repeat(6, auto); }

.row-7 {
  grid-template-rows: repeat(7, auto); }

.row-8 {
  grid-template-rows: repeat(8, auto); }

.row-9 {
  grid-template-rows: repeat(9, auto); }

.row-10 {
  grid-template-rows: repeat(10, auto); }

.row-11 {
  grid-template-rows: repeat(11, auto); }

.row-12 {
  grid-template-rows: repeat(12, auto); }

.colspan-1 {
  grid-column: span 1; }

.colspan-2 {
  grid-column: span 2; }

.colspan-3 {
  grid-column: span 3; }

.colspan-4 {
  grid-column: span 4; }

.colspan-5 {
  grid-column: span 5; }

.colspan-6 {
  grid-column: span 6; }

.colspan-7 {
  grid-column: span 7; }

.colspan-8 {
  grid-column: span 8; }

.colspan-9 {
  grid-column: span 9; }

.colspan-10 {
  grid-column: span 10; }

.colspan-11 {
  grid-column: span 11; }

.colspan-12 {
  grid-column: span 12; }

.rowspan-1 {
  grid-row: span 1; }

.rowspan-2 {
  grid-row: span 2; }

.rowspan-3 {
  grid-row: span 3; }

.rowspan-4 {
  grid-row: span 4; }

.rowspan-5 {
  grid-row: span 5; }

.rowspan-6 {
  grid-row: span 6; }

.rowspan-7 {
  grid-row: span 7; }

.rowspan-8 {
  grid-row: span 8; }

.rowspan-9 {
  grid-row: span 9; }

.rowspan-10 {
  grid-row: span 10; }

.rowspan-11 {
  grid-row: span 11; }

.rowspan-12 {
  grid-row: span 12; }

@media screen and (max-width: 992px) {
  .m992-col-1 {
    grid-template-columns: repeat(1, 1fr); }
  .m992-col-2 {
    grid-template-columns: repeat(2, 1fr); }
  .m992-col-3 {
    grid-template-columns: repeat(3, 1fr); }
  .m992-col-4 {
    grid-template-columns: repeat(4, 1fr); }
  .m992-col-5 {
    grid-template-columns: repeat(5, 1fr); }
  .m992-col-6 {
    grid-template-columns: repeat(6, 1fr); }
  .m992-col-7 {
    grid-template-columns: repeat(7, 1fr); }
  .m992-col-8 {
    grid-template-columns: repeat(8, 1fr); }
  .m992-col-9 {
    grid-template-columns: repeat(9, 1fr); }
  .m992-col-10 {
    grid-template-columns: repeat(10, 1fr); }
  .m992-col-11 {
    grid-template-columns: repeat(11, 1fr); }
  .m992-col-12 {
    grid-template-columns: repeat(12, 1fr); }
  .m992-row-1 {
    grid-template-rows: repeat(1, auto); }
  .m992-row-2 {
    grid-template-rows: repeat(2, auto); }
  .m992-row-3 {
    grid-template-rows: repeat(3, auto); }
  .m992-row-4 {
    grid-template-rows: repeat(4, auto); }
  .m992-row-5 {
    grid-template-rows: repeat(5, auto); }
  .m992-row-6 {
    grid-template-rows: repeat(6, auto); }
  .m992-row-7 {
    grid-template-rows: repeat(7, auto); }
  .m992-row-8 {
    grid-template-rows: repeat(8, auto); }
  .m992-row-9 {
    grid-template-rows: repeat(9, auto); }
  .m992-row-10 {
    grid-template-rows: repeat(10, auto); }
  .m992-row-11 {
    grid-template-rows: repeat(11, auto); }
  .m992-row-12 {
    grid-template-rows: repeat(12, auto); }
  .m992-colspan-1 {
    grid-column: span 1; }
  .m992-colspan-2 {
    grid-column: span 2; }
  .m992-colspan-3 {
    grid-column: span 3; }
  .m992-colspan-4 {
    grid-column: span 4; }
  .m992-colspan-5 {
    grid-column: span 5; }
  .m992-colspan-6 {
    grid-column: span 6; }
  .m992-colspan-7 {
    grid-column: span 7; }
  .m992-colspan-8 {
    grid-column: span 8; }
  .m992-colspan-9 {
    grid-column: span 9; }
  .m992-colspan-10 {
    grid-column: span 10; }
  .m992-colspan-11 {
    grid-column: span 11; }
  .m992-colspan-12 {
    grid-column: span 12; }
  .m992-rowspan-1 {
    grid-row: span 1; }
  .m992-rowspan-2 {
    grid-row: span 2; }
  .m992-rowspan-3 {
    grid-row: span 3; }
  .m992-rowspan-4 {
    grid-row: span 4; }
  .m992-rowspan-5 {
    grid-row: span 5; }
  .m992-rowspan-6 {
    grid-row: span 6; }
  .m992-rowspan-7 {
    grid-row: span 7; }
  .m992-rowspan-8 {
    grid-row: span 8; }
  .m992-rowspan-9 {
    grid-row: span 9; }
  .m992-rowspan-10 {
    grid-row: span 10; }
  .m992-rowspan-11 {
    grid-row: span 11; }
  .m992-rowspan-12 {
    grid-row: span 12; } }

@media screen and (max-width: 768px) {
  .m768-col-1 {
    grid-template-columns: repeat(1, 1fr); }
  .m768-col-2 {
    grid-template-columns: repeat(2, 1fr); }
  .m768-col-3 {
    grid-template-columns: repeat(3, 1fr); }
  .m768-col-4 {
    grid-template-columns: repeat(4, 1fr); }
  .m768-col-5 {
    grid-template-columns: repeat(5, 1fr); }
  .m768-col-6 {
    grid-template-columns: repeat(6, 1fr); }
  .m768-col-7 {
    grid-template-columns: repeat(7, 1fr); }
  .m768-col-8 {
    grid-template-columns: repeat(8, 1fr); }
  .m768-col-9 {
    grid-template-columns: repeat(9, 1fr); }
  .m768-col-10 {
    grid-template-columns: repeat(10, 1fr); }
  .m768-col-11 {
    grid-template-columns: repeat(11, 1fr); }
  .m768-col-12 {
    grid-template-columns: repeat(12, 1fr); }
  .m768-row-1 {
    grid-template-rows: repeat(1, auto); }
  .m768-row-2 {
    grid-template-rows: repeat(2, auto); }
  .m768-row-3 {
    grid-template-rows: repeat(3, auto); }
  .m768-row-4 {
    grid-template-rows: repeat(4, auto); }
  .m768-row-5 {
    grid-template-rows: repeat(5, auto); }
  .m768-row-6 {
    grid-template-rows: repeat(6, auto); }
  .m768-row-7 {
    grid-template-rows: repeat(7, auto); }
  .m768-row-8 {
    grid-template-rows: repeat(8, auto); }
  .m768-row-9 {
    grid-template-rows: repeat(9, auto); }
  .m768-row-10 {
    grid-template-rows: repeat(10, auto); }
  .m768-row-11 {
    grid-template-rows: repeat(11, auto); }
  .m768-row-12 {
    grid-template-rows: repeat(12, auto); }
  .m768-colspan-1 {
    grid-column: span 1; }
  .m768-colspan-2 {
    grid-column: span 2; }
  .m768-colspan-3 {
    grid-column: span 3; }
  .m768-colspan-4 {
    grid-column: span 4; }
  .m768-colspan-5 {
    grid-column: span 5; }
  .m768-colspan-6 {
    grid-column: span 6; }
  .m768-colspan-7 {
    grid-column: span 7; }
  .m768-colspan-8 {
    grid-column: span 8; }
  .m768-colspan-9 {
    grid-column: span 9; }
  .m768-colspan-10 {
    grid-column: span 10; }
  .m768-colspan-11 {
    grid-column: span 11; }
  .m768-colspan-12 {
    grid-column: span 12; }
  .m768-rowspan-1 {
    grid-row: span 1; }
  .m768-rowspan-2 {
    grid-row: span 2; }
  .m768-rowspan-3 {
    grid-row: span 3; }
  .m768-rowspan-4 {
    grid-row: span 4; }
  .m768-rowspan-5 {
    grid-row: span 5; }
  .m768-rowspan-6 {
    grid-row: span 6; }
  .m768-rowspan-7 {
    grid-row: span 7; }
  .m768-rowspan-8 {
    grid-row: span 8; }
  .m768-rowspan-9 {
    grid-row: span 9; }
  .m768-rowspan-10 {
    grid-row: span 10; }
  .m768-rowspan-11 {
    grid-row: span 11; }
  .m768-rowspan-12 {
    grid-row: span 12; } }

@media screen and (max-width: 576px) {
  .m576-col-1 {
    grid-template-columns: repeat(1, 1fr); }
  .m576-col-2 {
    grid-template-columns: repeat(2, 1fr); }
  .m576-col-3 {
    grid-template-columns: repeat(3, 1fr); }
  .m576-col-4 {
    grid-template-columns: repeat(4, 1fr); }
  .m576-col-5 {
    grid-template-columns: repeat(5, 1fr); }
  .m576-col-6 {
    grid-template-columns: repeat(6, 1fr); }
  .m576-col-7 {
    grid-template-columns: repeat(7, 1fr); }
  .m576-col-8 {
    grid-template-columns: repeat(8, 1fr); }
  .m576-col-9 {
    grid-template-columns: repeat(9, 1fr); }
  .m576-col-10 {
    grid-template-columns: repeat(10, 1fr); }
  .m576-col-11 {
    grid-template-columns: repeat(11, 1fr); }
  .m576-col-12 {
    grid-template-columns: repeat(12, 1fr); }
  .m576-row-1 {
    grid-template-rows: repeat(1, auto); }
  .m576-row-2 {
    grid-template-rows: repeat(2, auto); }
  .m576-row-3 {
    grid-template-rows: repeat(3, auto); }
  .m576-row-4 {
    grid-template-rows: repeat(4, auto); }
  .m576-row-5 {
    grid-template-rows: repeat(5, auto); }
  .m576-row-6 {
    grid-template-rows: repeat(6, auto); }
  .m576-row-7 {
    grid-template-rows: repeat(7, auto); }
  .m576-row-8 {
    grid-template-rows: repeat(8, auto); }
  .m576-row-9 {
    grid-template-rows: repeat(9, auto); }
  .m576-row-10 {
    grid-template-rows: repeat(10, auto); }
  .m576-row-11 {
    grid-template-rows: repeat(11, auto); }
  .m576-row-12 {
    grid-template-rows: repeat(12, auto); }
  .m576-colspan-1 {
    grid-column: span 1; }
  .m576-colspan-2 {
    grid-column: span 2; }
  .m576-colspan-3 {
    grid-column: span 3; }
  .m576-colspan-4 {
    grid-column: span 4; }
  .m576-colspan-5 {
    grid-column: span 5; }
  .m576-colspan-6 {
    grid-column: span 6; }
  .m576-colspan-7 {
    grid-column: span 7; }
  .m576-colspan-8 {
    grid-column: span 8; }
  .m576-colspan-9 {
    grid-column: span 9; }
  .m576-colspan-10 {
    grid-column: span 10; }
  .m576-colspan-11 {
    grid-column: span 11; }
  .m576-colspan-12 {
    grid-column: span 12; }
  .m576-rowspan-1 {
    grid-row: span 1; }
  .m576-rowspan-2 {
    grid-row: span 2; }
  .m576-rowspan-3 {
    grid-row: span 3; }
  .m576-rowspan-4 {
    grid-row: span 4; }
  .m576-rowspan-5 {
    grid-row: span 5; }
  .m576-rowspan-6 {
    grid-row: span 6; }
  .m576-rowspan-7 {
    grid-row: span 7; }
  .m576-rowspan-8 {
    grid-row: span 8; }
  .m576-rowspan-9 {
    grid-row: span 9; }
  .m576-rowspan-10 {
    grid-row: span 10; }
  .m576-rowspan-11 {
    grid-row: span 11; }
  .m576-rowspan-12 {
    grid-row: span 12; } }

@media screen and (max-width: 341px) {
  .m341-col-1 {
    grid-template-columns: repeat(1, 1fr); }
  .m341-col-2 {
    grid-template-columns: repeat(2, 1fr); }
  .m341-col-3 {
    grid-template-columns: repeat(3, 1fr); }
  .m341-col-4 {
    grid-template-columns: repeat(4, 1fr); }
  .m341-col-5 {
    grid-template-columns: repeat(5, 1fr); }
  .m341-col-6 {
    grid-template-columns: repeat(6, 1fr); }
  .m341-col-7 {
    grid-template-columns: repeat(7, 1fr); }
  .m341-col-8 {
    grid-template-columns: repeat(8, 1fr); }
  .m341-col-9 {
    grid-template-columns: repeat(9, 1fr); }
  .m341-col-10 {
    grid-template-columns: repeat(10, 1fr); }
  .m341-col-11 {
    grid-template-columns: repeat(11, 1fr); }
  .m341-col-12 {
    grid-template-columns: repeat(12, 1fr); }
  .m341-row-1 {
    grid-template-rows: repeat(1, auto); }
  .m341-row-2 {
    grid-template-rows: repeat(2, auto); }
  .m341-row-3 {
    grid-template-rows: repeat(3, auto); }
  .m341-row-4 {
    grid-template-rows: repeat(4, auto); }
  .m341-row-5 {
    grid-template-rows: repeat(5, auto); }
  .m341-row-6 {
    grid-template-rows: repeat(6, auto); }
  .m341-row-7 {
    grid-template-rows: repeat(7, auto); }
  .m341-row-8 {
    grid-template-rows: repeat(8, auto); }
  .m341-row-9 {
    grid-template-rows: repeat(9, auto); }
  .m341-row-10 {
    grid-template-rows: repeat(10, auto); }
  .m341-row-11 {
    grid-template-rows: repeat(11, auto); }
  .m341-row-12 {
    grid-template-rows: repeat(12, auto); }
  .m341-colspan-1 {
    grid-column: span 1; }
  .m341-colspan-2 {
    grid-column: span 2; }
  .m341-colspan-3 {
    grid-column: span 3; }
  .m341-colspan-4 {
    grid-column: span 4; }
  .m341-colspan-5 {
    grid-column: span 5; }
  .m341-colspan-6 {
    grid-column: span 6; }
  .m341-colspan-7 {
    grid-column: span 7; }
  .m341-colspan-8 {
    grid-column: span 8; }
  .m341-colspan-9 {
    grid-column: span 9; }
  .m341-colspan-10 {
    grid-column: span 10; }
  .m341-colspan-11 {
    grid-column: span 11; }
  .m341-colspan-12 {
    grid-column: span 12; }
  .m341-rowspan-1 {
    grid-row: span 1; }
  .m341-rowspan-2 {
    grid-row: span 2; }
  .m341-rowspan-3 {
    grid-row: span 3; }
  .m341-rowspan-4 {
    grid-row: span 4; }
  .m341-rowspan-5 {
    grid-row: span 5; }
  .m341-rowspan-6 {
    grid-row: span 6; }
  .m341-rowspan-7 {
    grid-row: span 7; }
  .m341-rowspan-8 {
    grid-row: span 8; }
  .m341-rowspan-9 {
    grid-row: span 9; }
  .m341-rowspan-10 {
    grid-row: span 10; }
  .m341-rowspan-11 {
    grid-row: span 11; }
  .m341-rowspan-12 {
    grid-row: span 12; } }

#check2 {
  display: none; }

.s1 {
  /* background-color: rgba(0, 0, 0, 0.342); */
  margin: 0;
  cursor: pointer;
  position: fixed;
  border-radius: 50px solid red;
  width: 1.875rem;
  height: 1.875rem;
  bottom: 3rem;
  right: 1.5rem;
  color: red;
  transition: 1s all;
  z-index: 10002; }

.s1show {
  display: block;
  /* transform: none; */
  /* transform: translateX(-150px); */ }

.s1hide {
  display: none;
  /* transform: translateX(120px); */ }

/*-----MEDIA QUERY / RESPONSIVE-----------------------------------------*/
/*se hace si tiene 992px o menos*/
@media screen and (max-width: 992px) {
  .s1 {
    width: 1.5625rem;
    height: 1.5625rem;
    right: 1rem; } }

/*se hace si tiene 768px o menos*/
@media screen and (max-width: 768px) {
  .s1 {
    background-color: rgba(115, 250, 110, 0.589);
    width: 1.25rem;
    height: 1.25rem;
    right: 0.5rem; } }

body {
  background-color: #ebebeb;
  font-family: "Roboto", "Montserrat-Light", verdana, sans-serif; }

.contenedor {
  width: 90%;
  max-width: 1000px;
  font-size: 1rem;
  margin: 0 auto;
  height: auto;
  grid-gap: 30px; }

.header {
  font-size: 16px;
  padding: 0.3125rem 1.25rem 0.3125rem 0.625rem;
  border-radius: 4px;
  background: #36343f;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  gap: 0.625rem;
  justify-content: center;
  align-items: center; }
  .header .logo-RL img {
    width: 80%; }
  .header .texto-RL {
    text-shadow: 0rem 0rem 0.375rem black;
    color: white; }
  .header nav {
    margin-right: 0.625rem; }
    .header nav ul {
      float: right; }
      .header nav ul li {
        display: inline-block;
        margin: auto 0; }
        .header nav ul li a {
          background: #36343f;
          color: #fff;
          text-align: center;
          text-decoration: none;
          padding: 0.625rem 0.9375rem;
          border-radius: 4px; }
          .header nav ul li a:hover {
            background: #36343f;
            color: #85989c;
            border-radius: 4px;
            transition: all 70ms linear;
            transform: scale(1.15, 1.15); }

.checkbtn {
  color: white;
  margin: 0;
  cursor: pointer;
  display: none;
  position: fixed;
  width: 10%;
  height: 5%;
  top: 1.5rem;
  right: 0;
  z-index: 5000; }

#img11, #img22 {
  max-width: 50%; }

#check {
  display: none; }

.sichecked {
  display: block;
  animation: 0.2s rotar_ico_nav; }

.nochecked {
  display: none; }

@keyframes rotar_ico_nav {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(180deg); } }

@media screen and (max-width: 992px) {
  /*se hace si tiene 992px o menos*/
  :root {
    width: -webkit-fill-available; }
  .header {
    font-size: 14px;
    padding: 0.3125rem 0.625rem;
    grid-column-gap: 4px; }
    .header nav {
      margin: 5px auto; }
      .header nav ul {
        float: none; }
        .header nav ul li {
          display: inline-block;
          margin: auto 5px; } }

@media screen and (max-width: 768px) {
  /*se hace si tiene 768px o menos*/
  .header {
    font-size: 14px;
    padding: 0.625rem; }
    .header .logo-RL img {
      min-width: 4.75rem; }
    .header nav {
      margin: 5px auto; }
      .header nav ul {
        float: none; }
        .header nav ul li {
          display: inline-block;
          margin: auto 5px; } }

@media screen and (max-width: 576px) {
  /*se hace si tiene 576px o menos*/
  .header {
    font-size: 12px;
    border-radius: 0; }
    .header .logo-RL img {
      min-width: 4.125rem; }
    .header nav {
      margin: 0px auto; }
  .checkbtn {
    display: block;
    background-color: rgba(0, 0, 0, 0.342); }
  #check:checked ~ ul {
    /* a todos los ul se les hace right 0*/
    right: 0; }
  .header nav ul {
    position: fixed;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.342);
    border-bottom-left-radius: 3.125rem;
    border-top-left-radius: 3.125rem;
    top: 5rem;
    right: -100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 5000; }
    .header nav ul li {
      display: block;
      margin: 1.875rem 0;
      line-height: 1.875rem; } }

@media screen and (max-width: 341px) {
  /*se hace si tiene 341px o menos*/
  .header {
    font-size: 10px; } }

.imgcarrito {
  margin-left: -45px;
  min-width: 40px;
  position: fixed;
  z-index: 3000; }

.carro {
  position: fixed;
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.815);
  border: 1px solid black; }

#vaciar-carrito, #procesar-pedido {
  width: 70%;
  margin-bottom: 0;
  margin-top: 0; }

.contenido {
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4px;
  padding: 30px; }
  .contenido div {
    border: 1px solid black; }
    .contenido div p {
      padding-left: 10px;
      padding-right: 10px; }

.artsombra:hover {
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff; }

.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
  cursor: pointer; }

.btn-block {
  display: block;
  margin: 10px auto;
  width: 90%; }

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545; }

.btn-danger:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
  cursor: pointer; }

.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745; }

.btn-success:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
  cursor: pointer; }

.img-fluid {
  max-width: 100%;
  height: auto; }

.dropdown-toggle {
  white-space: nowrap; }

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent; }

.dropdown-toggle:empty::after {
  margin-left: 0; }

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem; }

#noveo {
  display: none; }

.noveo {
  display: none; }

.veo {
  display: block; }

.dropdown-menu-left {
  right: auto;
  left: 0; }

.dropdown-menu-right {
  right: 0;
  left: auto; }

.list-unstyled {
  padding-left: 0;
  list-style: none; }

.card-title {
  margin-bottom: 0.75rem;
  text-align: center; }

.table {
  border-collapse: collapse !important;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 2px solid #9ad89f; }

th {
  font-weight: 400;
  text-align: center;
  padding: 8px;
  border: 1px solid #000000; }

td {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px; }

td:nth-child(1) {
  text-align: center; }

td:nth-child(2) {
  text-align: left; }

td:nth-child(3) {
  text-align: right; }

td:nth-child(4) {
  text-align: center;
  background-color: #dff5e1; }

td:nth-child(4):hover {
  background-color: #f1cfcf; }

td:nth-child(5) {
  text-align: right; }

td:nth-child(6) {
  text-align: center;
  width: 30px;
  padding: 0 1.5%;
  background-color: #dff5e1; }

.tot {
  margin: 20px 0; }

.totp1 {
  font-weight: 400;
  text-align: right;
  padding: 5px; }

.totp2 {
  text-align: right;
  padding: 5px;
  margin-right: 50%; }

.cantidad {
  width: 3rem; }

.iconox {
  width: 30%;
  margin: 0 auto; }

.box-producto {
  margin: 15px;
  padding: 2px 16px;
  position: relative;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white; }

button {
  font-size: 16px;
  text-align: center;
  border-radius: 8px;
  padding: 10px 20px; }

.inp-bor {
  border: 2px groove #01830c;
  text-align: center; }

.inp-bor:hover {
  border: 2px groove #cc0404;
  background-color: #ffffe7;
  text-align: center; }

.footer {
  background: linear-gradient(140deg, rgba(32, 32, 32, 0.705) 0%, #556c6d 50%, #202020 100%);
  color: white;
  text-align: left;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1.25rem;
  border-radius: 4px; }

.copyright {
  color: black; }

@media screen and (max-width: 1200px) {
  /*se hace si tiene 1200px o menos*/
  h6 {
    font-size: 0.83rem; } }

@media screen and (max-width: 992px) {
  /*se hace si tiene 992px o menos*/
  :root {
    width: -webkit-fill-available; }
  h6 {
    font-size: 0.83rem; }
  .imgcarrito {
    margin-left: -35px; }
  .titCompras, .contenido {
    font-size: 13px; } }

@media screen and (max-width: 768px) {
  /*se hace si tiene 768px o menos*/
  .titCompras, .contenido {
    font-size: 14px; }
  .contenido {
    gap: 20px;
    padding: 20px; }
    .contenido div p {
      font-size: 12px; }
  .imgcarrito {
    margin-left: -25px; }
  td:nth-child(6) {
    padding: 0 1.7%; } }

@media screen and (max-width: 576px) {
  /*se hace si tiene 576px o menos*/
  .contenedor {
    width: 100%;
    max-width: 1000px;
    margin: 0;
    gap: 0; }
  .imgcarrito {
    margin-left: 0;
    min-width: 35px; }
  .titCompras, .contenido {
    font-size: 12px; }
  .titCompras {
    margin-top: 20px; }
  .contenido {
    gap: 10px;
    padding: 10px; }
  th, td {
    padding-left: 0;
    padding-right: 0;
    font-size: 14px; }
  td:nth-child(6) {
    padding: 0 1%; }
  .totp2 {
    margin-right: 30%; }
  .grid {
    gap: 0; } }

@media screen and (max-width: 341px) {
  .titCompras, .contenido {
    font-size: 10px; } }
