.footer {// grid-column: 1 / -1;
	background: $fondo-footer;
	color: white;
	text-align: left;
	padding-left: 10px;
}
.copyright {
	color: black;
}

@media screen and (max-width: 768px) {
/*se hace si tiene 768px o menos*/
	.footer{
		padding: 0.3125rem;
	}
}

