* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1 {
	font-family: roboto, sans-serif;
}
h2 {
	font-family: roboto, sans-serif;
}
h4 {
	font-family: roboto, sans-serif;
}
h5 {
	font-family: roboto, sans-serif;
}
h6 {
	font-family: roboto, sans-serif;
}
h3 {
	font-family: nunito, verdana, sans-serif;
}
body {
	background-color: rgb(95,158,160);
}
.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(5, auto);
	.novedades {
		padding: 20px;
		border-radius: 4px;
	}
	.clientes {
		padding: 20px;
		border-radius: 4px;
	}
	.laempresa {
		padding: 20px;
		border-radius: 4px;
	}
	.ofertas {
		padding: 20px;
		border-radius: 4px;
	}
	.footer {
		padding: 20px;
		border-radius: 4px;
	}
}
img {
	width: 100%;
}

/*________________________________BLOQUE 1 CON BEM________________________________*/
.header {
	padding: 5px 20px;
	border-radius: 4px;
	background: #008080;
	grid-column: 1 / -1;
	display: grid;
	grid-gap: 5px;
	grid-template-columns: 1fr 3fr 4fr;
	grid-template-rows: 1;
	grid-column-gap: 10px;
	justify-content: center;
	align-items: center;
	&__logo-RL {
		grid-column: 1 / 2;
		margin-left: 5px;
		&__img {
			width: 80%;
		}
	}
	&__texto-RL {
		grid-column: 2 / 3;
		color: white;
	}
	&__naveg {
		grid-column: 3 / 4;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: auto;
		grid-gap: 7px;
		&__item {
			background: #004d4d;
			color: #fff;
			text-align: center;
			text-decoration: none;
			padding: 10px;
			border-radius: 4px;
			&:hover {
				background: #00cccc;
				border-radius: 4px;
				transition: all 70ms linear;
				transform: scale(1.15,1.15);
			}
		}
	}
}
.novedades {
	background-color: white;
	grid-column: 1 / 3;
	grid-row: 2 / 3;
}

/*________________________________BLOQUE 2 CON BEM________________________________*/
.ofertas {
	background: #e67e22;
	grid-column: 3 / 4;
	grid-row: 2 / 5;
	padding: 20px;
	display: grid;
	grid-gap: 5px;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	justify-content: flex-start;
	align-content: flex-start;
	&__tit-ofertas {
		margin-bottom: 15px;
		text-align: center;
		position: relative;
		animation-name: animo-tit-ofertas;
		animation-duration: 1.5s;
		animation-iteration-count: infinite;
		@keyframes animo-tit-ofertas {
			0% {
				left: 0px;
				top: 0px;
			}
			50% {
				left: 1px;
				top: 1px;
				background-color: orangered;
				color: #F1CFE2;
				border-radius: 6px;
			}
			100% {
				left: 0px;
				top: 0px;
			}
		}
	}
	&__logo-OF {
		&__img {
			border: 2px dotted red;
		}
	}
	&__des-OF {
		margin-bottom: 10px;
		border-bottom: 1px solid black;
	}
}
/*________________________________BLOQUE 3 CON BEM________________________________*/
.clientes {
	background-image: url("../imagenes/logo-tapiz-madera.png");
	grid-column: 1 / 3;
	grid-row: 3 / 4;
	display: grid;
	grid-gap: 5px;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: auto;
	grid-column-gap: 10px;
	justify-content: center;
	align-items: center;
	&__tit-cliente {
		grid-column: 1 / 3;
		color: white;
	}
	&__logo-cliente {
		grid-column: 1 / 2;
	}
	&__texto-cliente {
		grid-column: 2 / 3;
	}
}
/*________________________________BLOQUE 4 CON BEM________________________________*/
.laempresa {
	background-image: url("../imagenes/logo-tapiz-climpek.png");
	grid-column: 1 / 3;
	grid-row: 4 / 5;
	display: grid;
	grid-gap: 5px;
	grid-template-columns: 0.7fr 1.3fr 1fr;
	grid-template-rows: 3;
	grid-column-gap: 10px;
	align-items: center;
	&__logo1-LE {
		grid-column: 1 / 2;
		padding-left: 10px;
		&__img {
			width: 50%;
			position: relative;
			animation-name: animo-logo1-LE;
			animation-duration: 0.2s;
			animation-iteration-count: infinite;
			@keyframes animo-logo1-LE {
				0% {
					left: 0px;
					top: 0px;
				}
				25% {
					left: 1px;
					top: 0px;
				}
				50% {
					left: 1px;
					top: 1px;
				}
				75% {
					left: 0px;
					top: 1px;
				}
				100% {
					left: 0px;
					top: 0px;
				}
			}
		}
	}
	&__tit-LE {
		grid-column: 2 / 3;
	}
	&__logo2-LE {
		grid-column: 3 / 4;
	}
	&__texto-LE {
		grid-column: 1 / 4;
		padding: 10px;
	}
	&__video-LE {
		grid-column: 1 / 4;
		padding: 10px;
		video {
			width: 100%;
		}
	}
}
.footer {
	grid-column: 1 / -1;
	background: linear-gradient(140deg, rgba(32,32,32,1) 0%, rgba(32,32,32,1) 45%, rgba(95,158, 160,1) 88%, rgba(95,158, 160,1) 100%);
	color: white;
	text-align: left;
	padding-left: 10px;
}
@media screen and (max-width: 992px) {
/*se hace si tiene 992px o menos*/
	:root {
		font-size: 14px;
	}
	body {
		background-color: rgb(117,172,152);
	}
}
@media screen and (max-width: 768px) {
/*se hace si tiene 768px o menos*/
	:root {
		font-size: 14px;
	}
	body {
		background-color: rgb(117,172,152);
	}
	.contenedor {
		.header {
			padding: 10px;
		}
		.footer {
			padding: 5px;
		}
	}
	.header {
		&__texto-RL {
			grid-column: 2 / 4;
		}
		&__naveg {
			grid-column: 1 / -1;
		}
	}
}
@media screen and (max-width: 576px) {
/*se hace si tiene 576px o menos*/
	:root {
		font-size: 12px;
	}
	body {
		background-color: rgb(143,188,143);
	}
	.contenedor {
		width: 95%;
		max-width: 1000px;
		margin: 10px auto;
		.novedades {
			grid-column: 1 / 4;
		}
		.clientes {
			grid-column: 1 / 4;
		}
		.laempresa {
			grid-column: 1 / 4;
		}
		.ofertas {
			grid-column: 1 / 4;
			grid-row: 5 / 6;
			display: grid;
			grid-gap: 5px;
			grid-template-columns: 0.4fr 1fr;
			grid-template-rows: auto;
			justify-content: center;
			align-items: center;
		}
	}
	.ofertas {
		&__tit-ofertas {
			grid-column: 1 / -1;
		}
	}
	.header {
		&__logo-RL {
			&__img {
				min-width: 50px;
			}
		}
	}
}
@media screen and (max-width: 341px) {
/*se hace si tiene 341px o menos*/
	.header {
		&__naveg {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: auto;
		}
	}
}