* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@import "variables";

body {
	background-color: $fondo-principal;
	font-family: $fuente-primaria;
}
.contenedor {
	width: 90%;
	max-width: 1000px;
	font-size: 1rem;
	margin: 0 auto;
	height: auto;	

	display: grid;
	grid-gap: 5px;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(4, auto);
	table, .footer {
		box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
		padding: 1.25rem;
		border-radius: 4px;
	}
}

@import "cabecera";


.tituloProd {
	grid-column: 1 / -1;
	grid-row: 2 / 3;
	text-align: center;
}
table {
	grid-column: 1 / -1;
	grid-row: 3 / 4;
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}
th {
	background-color: #808080;
	border: 1px solid #000000;
	text-align: left;
	padding: 8px;
}
tr {
	&:nth-child(even) {
		background-color: #dddddd;
	}
	&:nth-child(odd) {
		background-color: #f1ea7e;
	}
}
td {
	border: 1px solid #000000;
	text-align: left;
	padding: 8px;
}

@import "piedepagina";
.footer {
	grid-column: 1 / -1;
	grid-row: 4 / 5;
}

@media screen and (max-width: 992px) {
	/*se hace si tiene 992px o menos*/
		:root {
			font-size: 14px;
			width: -webkit-fill-available;
		}
	}
	@media screen and (max-width: 768px) {
	/*se hace si tiene 768px o menos*/
		:root{
			font-size: 12px;
		}	
		.contenedor{
			width: 100%;
			max-width: 1000px;
			margin: 0;
			grid-gap: 0;
		}
	}
	
	@media screen and (max-width: 576px) {
	/*se hace si tiene 576px o menos*/
		:root {
			font-size: 10px;
		}
		.contenedor {
			width: 100%;
			max-width: 1000px;
			margin: 0;
			grid-gap: 0;
			.footer {
				border-radius: 0;
				grid-column: 1 / 4;
				grid-row: 6 / 7;
			}	
		}
	}
	
	@media screen and (max-width: 341px) {
	/*se hace si tiene 341px o menos*/
		:root{
			font-size: 8px;
		}	
	}
	