* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@import "variables";
@import "grid";
@import "todos-volverarriba";

body {
	background-color: $fondo-principal;
	font-family: $fuente-primaria;
}
.contenedor {
	width: 90%;
	max-width: 1000px;
	font-size: 1rem;
	margin: 0 auto;
	height: auto;	
	// display: grid; grid-template-columns: 1fr; grid-template-rows: repeat(4, auto);
	gap: 30px;
	table {
		box-shadow: $sombra-caja;
	}
}

@import "cabecera";


table {// grid-column: 1 / -1; grid-row: 3 / 4;
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}
th {
	border: 1px solid #000000;
	text-align: center;
	padding: 8px;
}
td {
	border: 1px solid #000000;
	text-align: left;
	padding: 8px;
}
td:nth-child(1) {padding: 0;}
td:nth-child(2) {text-align: center;}
td:nth-child(3) {text-align: left;}
td:nth-child(4) {text-align: right;}
td:nth-child(5) {text-align: left;}
td:nth-child(6) {text-align: left;}
td:nth-child(7) {text-align: center;}


@import "piedepagina";

@media screen and (max-width: 992px) {
	/*se hace si tiene 992px o menos*/
	:root {// font-size: 15px;
		width: -webkit-fill-available;
	}
	table {
		font-size: 15px;
		display: block;
		overflow-x: auto;		
	}
}
@media screen and (max-width: 768px) {
/*se hace si tiene 768px o menos*/
	// :root{font-size: 14px;}	
	.contenedor{
		width: 98%;
		max-width: 1000px;
		// margin: 0;
		gap: 0;
	}
	table {
		font-size: 14px;
		display: block;
		overflow-x: auto;		
		// width: 768px;
		max-width: 768px;
	}
}

@media screen and (max-width: 576px) {
/*se hace si tiene 576px o menos*/
	// :root {font-size: 13px;}
	.contenedor {
		width: 100%;
		max-width: 1000px;
		margin: 0;
		gap: 0;
		table {
			font-size: 13px;
		}
		th, td {
			padding: 2px;
		}		
		.footer {// grid-column: 1 / 4; grid-row: 6 / 7;
			border-radius: 0;
		}	
	}	
	.estado{// oculto la columna rubro cuando screen es menor o igual a 420
		display: none;
	}
}
@media screen and (max-width: 341px) {
/*se hace si tiene 341px o menos*/
	// :root{font-size: 10px;}	
	table {
		font-size: 10px;
	}
}
