@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1 {
  font-family: roboto, sans-serif; }

h2 {
  font-family: roboto, sans-serif; }

h3 {
  font-family: nunito, verdana, sans-serif; }

h4 {
  font-family: roboto, sans-serif; }

h5 {
  font-family: roboto, sans-serif; }

h6 {
  font-family: roboto, sans-serif; }

.tituh1 {
  font-size: 2rem;
  font-weight: 700; }

.tituh2 {
  font-size: 1.5rem;
  font-weight: 500; }

.tituh3 {
  font-size: 1.17rem; }

.tituh4 {
  font-size: 1rem; }

.tituh5 {
  font-size: 0.83rem; }

.tituh6 {
  font-size: 0.67rem; }

img {
  display: block;
  /* con esto las imágenes son tratadas como un bloque*/
  margin: auto;
  /* este bloque se puede centrar bien*/
  max-width: 100%;
  /* tiene un máximo, antes que se pixele la imagen*/
  min-width: 50%;
  /* tiene un mínimo, antes que se pixele la imagen*/
  height: auto;
  /* la altura se coloca para que no deforme la imagen*/ }

body {
  background-color: cadetblue;
  font-family: "Roboto", "Montserrat-Light", verdana, sans-serif; }

.contenedor {
  width: 90%;
  max-width: 1000px;
  font-size: 1rem;
  margin: 0 auto;
  height: auto;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto); }
  .contenedor .tit2, .contenedor #login-form, .contenedor .footer {
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1.25rem;
    border-radius: 4px; }

/*-----2.1.HEADER-------------------------------------------------------*/
.header {
  font-size: 1rem;
  padding: 0.3125rem 1.25rem 0.3125rem 0.625rem;
  border-radius: 4px;
  background: #006969;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  grid-column: 1 / -1;
  /* CSSGrid */
  /* hijos: .logo-RL, .texto-RL y nav;*/
  display: grid;
  grid-template-columns: 0.8fr 2.5fr 5.5fr;
  grid-template-rows: auto;
  grid-gap: 0.625rem;
  justify-content: center;
  align-items: center;
  /*-----2.1.1.HEADER/LOGO RL--------------------------------------------*/
  /*-----2.1.2.HEADER/TITULO----------------------------------------------*/
  /*-----2.1.3.HEADER/NAV Y/O ICONO---------------------------------------*/ }
  .header .logo-RL {
    grid-column: 1 / 2; }
    .header .logo-RL img {
      width: 80%; }
  .header .texto-RL {
    grid-column: 2 / 3;
    text-shadow: 0rem 0rem 0.375rem black;
    color: white; }
  .header nav {
    grid-column: 3 / 4;
    margin-right: 0.625rem;
    /*-----2.1.3.1.HEADER/NAV/NAV-------------------------------------------*/ }
    .header nav ul {
      float: right; }
      .header nav ul li {
        display: inline-block;
        margin: auto 0.3125rem; }
        .header nav ul li a {
          background: #006969;
          color: #fff;
          text-align: center;
          text-decoration: none;
          padding: 0.625rem 0.9375rem;
          border-radius: 4px; }
          .header nav ul li a:hover {
            background: #006969;
            color: #9b9b9b;
            border-radius: 4px;
            transition: all 70ms linear;
            transform: scale(1.15, 1.15); }

/*-----2.1.3.2.HEADER/NAV/ICONO---------------------------------------*/
.checkbtn {
  /* font-size: 1.875rem; */
  color: white;
  margin: 0;
  cursor: pointer;
  display: none;
  position: fixed;
  width: 10%;
  height: 5%;
  top: 1.5rem;
  z-index: 3000; }

#img11, #img22 {
  max-width: 50%; }

#check {
  display: none; }

.sichecked {
  display: block;
  animation: 0.2s rotar_ico_nav; }

.nochecked {
  display: none; }

@keyframes rotar_ico_nav {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(180deg); } }

/*--------------------------------------------------------------------------------*/
@media screen and (max-width: 992px) {
  /*se hace si tiene 992px o menos*/
  :root {
    font-size: 14px;
    width: -webkit-fill-available; }
  .header {
    padding: 0.3125rem 0.625rem;
    grid-column-gap: 4px; }
  .header nav {
    margin-right: 0; } }

@media screen and (max-width: 768px) {
  /*se hace si tiene 768px o menos*/
  :root {
    font-size: 14px; }
  .contenedor .header {
    padding: 0.625rem; }
  .header .logo-RL img {
    min-width: 3.125rem; }
  .header .texto-RL {
    grid-column: 2 / 4; }
  .header nav {
    grid-column: 1 / -1;
    margin: 5px auto; }
  .header nav ul {
    float: none; }
  .header nav ul li {
    display: inline-block;
    margin: auto 5px; } }

@media screen and (max-width: 576px) {
  /*se hace si tiene 576px o menos*/
  :root {
    font-size: 12px; }
  .header {
    border-radius: 0;
    grid-template-columns: 1fr 6.5fr 2.5fr; }
  .header .logo-RL img {
    min-width: 3.125rem; }
  .header .texto-RL {
    grid-column: 2 / 3; }
  .header nav {
    grid-column: 3 / 4;
    margin: 0px auto; }
  .checkbtn {
    display: block; }
  #check:checked ~ ul {
    /* a todos los ul se les hace right 0*/
    right: 0; }
  .header nav ul {
    position: fixed;
    width: 40%;
    height: 45vh;
    background-color: rgba(0, 0, 0, 0.342);
    /* background: #2c3e50d5; */
    border-bottom-left-radius: 3.125rem;
    border-top-left-radius: 3.125rem;
    top: 5rem;
    right: -100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 2000; }
  .header nav ul li {
    display: block;
    margin: 1.875rem 0;
    line-height: 1.875rem; } }

@media screen and (max-width: 341px) {
  /*se hace si tiene 341px o menos*/
  :root {
    font-size: 10px; } }

.tit1 {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  text-align: center; }

.tit2 {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  border-radius: 4px;
  text-align: center;
  background-color: darksalmon; }

#login-form {
  grid-column: 1 / -1;
  grid-row: 4 / 5;
  background-image: url("../imagenes/logo-tapiz-shattered1.png");
  padding: 15px 20px;
  border-radius: 4px;
  display: grid;
  grid-column-gap: 2rem;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 0.6rem; }

.izq {
  grid-column: 1 / 2;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: 1fr;
  grid-row-gap: 1.5rem;
  align-content: flex-start; }

.der {
  grid-column: 2 / 3;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 4rem;
  align-content: flex-start; }

#NomAp, #NomEmp, #Cuit, #Dire, #Loca, #PosProv, #Postal, #Email, #Tfono {
  border-radius: 50px;
  padding: 0.6rem 1.5rem;
  border: none;
  background: #eee;
  outline: none; }

#PosProv {
  padding: 0.525rem 1.5rem;
  grid-column: 1 / 3; }

#Postal, #Email, #Tfono {
  grid-column: 1 / 3; }

#infoadic {
  grid-column: 1 / 3; }

#Prov {
  font-family: verdana, roboto, sans-serif;
  align-content: right;
  border: none;
  background: #eee;
  outline: none; }

input::placeholder {
  font-family: verdana, roboto, sans-serif; }

#PosReset {
  margin: 20px 0px 10px 60px;
  padding: 5px;
  font: 18px bold tahoma, sans-serif;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 12px;
  box-shadow: 0 9px #999;
  transition: all 2ms; }
  #PosReset:hover {
    background-color: lightskyblue; }
  #PosReset:active {
    background-color: lightskyblue;
    box-shadow: 0 5px #666;
    transform: translateY(7px); }

#PosSubmit {
  margin: 20px 60px 10px 0px;
  padding: 5px 25px 5px 25px;
  font: 18px bold tahoma, sans-serif;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 12px;
  box-shadow: 0 9px #999;
  transition: all 2ms; }
  #PosSubmit:hover {
    background-color: salmon; }
  #PosSubmit:active {
    background-color: salmon;
    box-shadow: 0 5px #666;
    transform: translateY(7px); }

.footer {
  grid-column: 1 / -1;
  background: linear-gradient(140deg, #202020 0%, #202020 45%, cadetblue 88%, cadetblue 100%);
  color: white;
  text-align: left;
  padding-left: 10px; }

@media screen and (max-width: 768px) {
  /*se hace si tiene 768px o menos*/
  .footer {
    padding: 0.3125rem; } }

@media screen and (max-width: 992px) {
  :root {
    font-size: 14px;
    width: -webkit-fill-available; }
  #login-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 0.6rem;
    padding: 5px 160px; }
  .izq {
    grid-column: 1 / -1; }
  .der {
    grid-column: 1 / -1;
    padding-top: 1rem; } }

@media screen and (max-width: 768px) {
  :root {
    font-size: 14px; }
  .contenedor {
    grid-gap: 5px; }
  .contenido div p {
    padding-left: 5px;
    font-size: 12px; }
  #login-form {
    padding: 5px 60px;
    padding: 5px 20px; }
  h2 {
    font-size: 1.3rem; }
  .tit1 {
    font-size: 0.4rem; } }

@media screen and (max-width: 576px) {
  /*se hace si tiene 576px o menos*/
  :root {
    font-size: 12px; }
  .contenedor {
    width: 100%;
    max-width: 1000px;
    margin: 0;
    grid-gap: 0;
    border-radius: 0; }
    .contenedor .footer {
      border-radius: 0;
      grid-column: 1 / 4;
      grid-row: 6 / 7; } }

@media screen and (max-width: 341px) {
  /*se hace si tiene 341px o menos*/
  :root {
    font-size: 10px; } }
